.cf {

  text-align: justify;
  
  opacity: 1.0;
  
  width: 100%;
  
  height: auto;
  
  }
  
   
  
  .nested-links{
  
  text-align: justify;
  
  opacity: 1.0;
  
  width: 100%;
  
  height: auto;
  
  }